<h3>
  <span class="fa fa-book"></span> Torso Philosophy
</h3>
<hr/>
<p>Philosophy categories:</p>
<ul class="topic-list">
  {{#each topics}}
    <li><a href="{{route}}">{{name}}</a></li>
  {{/each}}
</ul>