<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="https://github.com/vecnatechnologies/backbone-torso">View on GitHub</a>

    <h1 id="project_title">Backbone-torso</h1>
    <h2 id="project_tagline">A Holistic Approach to Backbone Applications</h2>

    <section id="downloads">
      <a class="zip_download_link" href="https://github.com/vecnatechnologies/backbone-torso/zipball/master">Download this project as a .zip file</a>
      <a class="tar_download_link" href="https://github.com/vecnatechnologies/backbone-torso/tarball/master">Download this project as a tar.gz file</a>
    </section>
  </header>
</div>

<!-- Main content -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <div class="breadcrumb">
      <a href="#">Torso</a>
      {{#each trail}}
        &gt; <a href="{{route}}">{{name}}</a>
      {{/each}}
    </div>
  </section>
</div>